<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All the cars</title>
</head>
<body>
  <h1>All the cars!</h1>
  <% for(const carKey in cars) {%>
    <div style="border: 1px solid pink">
      <h2>color: <%= cars[carKey].color %></h2>
      <h2>model: <%= cars[carKey].model %></h2>
      <h2>is manual: <%= cars[carKey].isManual %></h2>
    </div>
  <% } %>
  
</body>
</html>